{% import 'macros/form.html' as form %}

{{ form.input('smartie_value_1', id='smartie_value_1', label=_('Smartie Value 1'), placeholder=_('eg. 2000'), value=data.smartie_value_1, error=errors.smartie_value_1) }}

{{ form.input('smartie_label_1', id='smartie_label_1', label=_('Smartie Label 1'), placeholder=_('eg. Dogs'), value=data.smartie_label_1, error=errors.smartie_label_1) }}

{{ form.input('smartie_value_2', id='smartie_value_2', label=_('Smartie Value 2'), placeholder=_('eg. 2000'), value=data.smartie_value_2, error=errors.smartie_value_2) }}

{{ form.input('smartie_label_2', id='smartie_label_2', label=_('Smartie Label 2'), placeholder=_('eg. Dogs'), value=data.smartie_label_2, error=errors.smartie_label_2) }}

{{ form.input('smartie_value_3', id='smartie_value_3', label=_('Smartie Value 3'), placeholder=_('eg. 2000'), value=data.smartie_value_3, error=errors.smartie_value_3) }}

{{ form.input('smartie_label_3', id='smartie_label_3', label=_('Smartie Label 3'), placeholder=_('eg. Dogs'), value=data.smartie_label_3, error=errors.smartie_label_3) }}

